.container {
    display: flex;
    flex-direction: column;
}

.title {
    padding-inline: calc(var(--padding)*3);
    position: relative;
    text-align: right;



    h2 {
        font-size: var(--fs-xl);
        font-weight: var(--fw-regular);
        font-family: var(--font-heading);
        text-transform: capitalize;
        color: var(--clr-font);
    }

    p {
        font-size: var(--fs-body);
        font-weight: var(--fw-regular);
        font-family: var(--font-body);
        color: var(--clr-font);
        width: 70%;
        transform: translate(clamp(39%, 1vw, 20%), clamp(-90%, 1vw, -120%));

    }

    span {
        text-transform: capitalize;
    }
}

.bento__container {
    place-self: center;
    padding: 2rem;
    width: 80%;
}

.bento__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;

    .grid__item:nth-last-of-type(even) {
        scale: 1.2;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--img-radius);
    }
}